# Go
bin/
tmp/

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.pytest_cache/
.coverage
*.log
poetry.lock

# Submissions
files/

# Frontend
web/dist/
web/node_modules/
web/deno.lock
web/.deno-cache/
web/.vite/

# IDE
.vscode/
.idea/

# Redis
dump.rdb

# OS
.DS_Store
