<!DOCTYPE html>
<html>

<head>
  <title>Upload file</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>

<style>
  div.dropzone
{
    position: fixed; top: 0; left: 0;
    z-index: 9999999999;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
    transition: visibility 175ms, opacity 175ms;
}
div.middle-message{
  border: 2px dashed #bbb;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 50px;
  text-align: center;
  font: 21pt bold arial;
  color: #bbb;

}
div.area{
  width: 45em;
 padding: 15px;
 border: 1px solid #333;
 background: rgba(0,0,0,0.7);
}
div.dropBody{
  background: #333;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}
</style>

<body>
  <div style="visibility:hidden; opacity:0" class="dropzone">
    <div class="dropBody">
      <div class="area">
        <div class="middle-message"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <form enctype="multipart/form-data" action="/upload" method="post" id="myForm">

      <h1 class="text-primary">Python Grader (Beta)</h1>
      <p class="text-info">Choose the lab number (not section), select your file (or Drag and Drop) and click Upload</p>
      <select id="labs" name="labs" class="form-control" onchange="changeList()">
        {{range $val := .}}
        <option value="{{$val.ID}}" desc="{{$val.ProblemStatement}}">{{$val.Name}}</option>
        {{end}}
      </select>
      <br />
      <div class="input-group">
      <input type="file" name="uploadfile" id="file" accept=".py" class="form-control-file" />
      <span class="custom-file-control"></span>
        </div>

    </form>

    <br />

    <div class="alert alert-warning">
      <h5>
        Problem Statement
      </h5>
      <span id="description" style="white-space: pre-line" >
      No Labs ...
    </span>
    </div>

    <br>
    <br>
    <br>



    <button type="button" class="btn btn-primary" onclick="check()">Upload</button>
  </div>

</body>
<script>
  $(document).ready(function() {
    changeList()
  });
  function changeList(){
    var e = document.getElementById("labs");
    var strDesc = e.options[e.selectedIndex].getAttribute("desc");
    var f = document.getElementById("description");
    f.innerHTML = strDesc.replace(/\\n/g, "<br />");
  }

  function check() {
    if (document.getElementById("file").value == "") {
      alert("Must Select a File to Upload")
    }
    else {
      document.getElementById("myForm").submit();
    }
  }
  function makeDroppable(element, callback) {

    var input = document.getElementById('file');
    input.addEventListener('change', triggerCallback);
    window.addEventListener('dragover', function (e) {
      e.preventDefault();
      e.stopPropagation();
      element.classList.add('dragover');
      if (e.dataTransfer.types[0] === 'Files') {
        lastTarget = e.target;
        document.querySelector(".dropzone").style.visibility = "";
        document.querySelector(".dropzone").style.opacity = 1;
        document.querySelector(".middle-message").innerHTML = "Upload";
      }
    });

    window.addEventListener('dragleave', function (e) {
      e.preventDefault();
      e.stopPropagation();
      element.classList.remove('dragover');
      if (e.target === lastTarget || e.target === document) {
        document.querySelector(".dropzone").style.visibility = "hidden";
        document.querySelector(".dropzone").style.opacity = 0;
      }
    });

    window.addEventListener('drop', function (e) {
      e.preventDefault();
      e.stopPropagation();
      element.classList.remove('dragover');
      if (e.target === lastTarget || e.target === document) {
        document.querySelector(".dropzone").style.visibility = "hidden";
        document.querySelector(".dropzone").style.opacity = 0;
      }
      triggerCallback(e);
    });

    function triggerCallback(e) {
      var files;
      if (e.dataTransfer) {
        files = e.dataTransfer.files;
      } else if (e.target) {
        files = e.target.files;
      }
      callback.call(null, files);

    }
  }
  var lastTarget = null;
  var element = document.getElementById('file').parentElement;
  function callback(files) {
    if (files.length > 1) {
      alert('Can only upload one file');
    }
    else if (checkname(files[0].name)[0] !== 'py') {
      alert('Must Upload a Python script');
    }
    else if (files[0].size > 20000) {
      alert('File size too big')
    }
    else {
      document.getElementById('file').files = files
    }
  }
  makeDroppable(element, callback);

  function checkname(ex) {
    return (/[.]/.exec(ex)) ? /[^.]+$/.exec(ex) : undefined;
  }


</script>

</html>